# 阿里云百炼 API Key（请替换为你的真实 Key）
DASHSCOPE_API_KEY=sk-ws-H.RYREXLD.psek.MEUCIFPGP_Pgsd2yPaJwBPjGBQm-HOm0ZIRDo1TJrHIZrW96AiEAsIqe2f8GJQb-sgILUItP1OjiUY6H0N-twMmC4cZEU2o

# API 服务地址（根据你的百炼实例地址修改）
BASE_URL=https://llm-prh5rydio6k6g481.cn-beijing.maas.aliyuncs.com/compatible-mode/v1